/*============================*/
/*=== Custom Slider Styles ===*/
/*============================*/

body
  {
  margin:0 auto;
  }
div{margin:0; padding:0;}


#guide { margin:0 auto; padding:0; width:785px; border-collapse:collapse; border:1px solid #000; border-width:1px 1px 1px; }
#guide td { padding:0; border:5px solid #fff; }
#guide a { padding:0 auto; height:22px; display:block; overflow:hidden; color:#000; font-size:20px; line-height:10px; 
		text-align:center; text-transform:uppercase; background:#fff;  text-decoration:none}
#guide .last a { border-right:0; }
#guide a:hover { color:#000 }
#guide span { font-family: Times;padding:7px 2px 3px; display:block; 
      border-bottom:1px solid #000; text-align:center; 
          background:#104E8B;color:#FFFFFF;font-weight:bold;}
#guide a:hover span { color:#EAEAEA }
/* -- 'On' State */
#guide .on a:hover { background:#fdca00; }
#guide .on span { background:#483D8B; }
#guide .on a:hover span { background:#fdca00; }


#style1{
	 margin:0 auto; padding:0; width:775px; height:501px;border-collapse:collapse; cursor:default;border:1px solid #000; border-width:1px 1px 1px 1px;
}

#style1 li{
	list-style-type:none
}


#style2{height = 800;
	 float:left; margin:0 auto; padding:0px 0 0 0; width:145px; border-collapse:collapse; background:#104E8B; border:1px solid #000; 
	 border-width:1px 0px 1px;}

#style2 span{ font-family: Times;padding:2px 2px 3px;display:block;
      border-bottom:1px solid #000; 
          background:#104E8B;font-weight:bold;border:1px solid #fff; border-width:1px 0 1px 0px£»text-decoration:none;
}
#style2 .on{background:#2200AA}
#style2 a span{ color:#FFFF00; font-size:20px; text-align:left; background:#104E8B;
			text-decoration:none; height:26px; }


#style2 a:hover { color:#EAEAEA}
#style2 a:hover span { color:#EAEAEA }


/* -- 'On' State */
#style2 .on a:hover { background:#fdca00; }
#style2 .on span { background:#483D8B; }
#style2 .on a:hover span { background:#fdca00; }

#style3{
	 float:left;color:#000; margin:0; padding:20px 0 0 5px; width:400px; height:320px; border-collapse:collapse; border:0px solid #000;
}
#style3 table{ cellpadding:10px
}

#style4{
	 float:left; margin:10px;  padding:10px 0 0 0px; border-collapse:collapse; }


#style5{
	 margin:0 auto; padding:0; width:775px; height:531px;border-collapse:collapse; cursor:default;border:1px solid #000; border-width:1px 1px 1px 1px;
}

#style5 li{
	list-style-type:none
}
#style5 span{ margin:20px 20px 0 20px; color:#104E8B;font-size:25px;font-weight:bold; }
#style5 p{margin:0px 20px 10px 20px;font-family: Calibri;}
#style5 ul{font-family: Calibri;}

#style6{
	 float:left;color:#000; margin:0px 0 0 20px; padding:20px 0 0 5px; 
	 width:550px; height:320px; border-collapse:collapse; border:0px;
	 text-align: justify
}

#style6 p{margin:0px 0px 0px 0px;}
#style6 a{ color:#000;}
#style6 a:hover { color:#fdca00}



#style7{
	 margin:0 auto; padding:25px 30px 30px 20px; width:725px; height:auto;border-collapse:
	 collapse; cursor:default;border:1px solid #000; border-width:1px 1px 1px 1px;
	 text-align: justify
}
#style7 li{
	list-style-type:none
}
#style7 span{ margin:20px 30px 0 20px; color:#104E8B;font-size:25px;font-weight:bold; }
#style7 p{margin:0px 10px 10px 20px;font-family: Calibri;}
#style7 ul{font-family: Calibri;}
#style7 ul li {list-style-type:square; margin:0 0 0 40px;}
.Copyright {
text-align:center;
margin-left: 50px;
}

